.container-fluid {
    position: absolute;
    width: 100%;
    height: 100%;
}
h3 {
  padding: 20px;
}
  .bg-2 { 
    background-color: #1e2198 !important;
    color: #ffffff;
  }

  ul li {
    cursor: pointer;
  }